@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@800&display=swap");
* {
    scroll-behavior: smooth;
}

.portfolio-main {
    padding: 20px;
    background-color: #eeeeee;
}

.portfolio-main-dark {
    padding: 20px;
    background-color: #424242;
}

.name-header {
    text-align: center;
    margin: 30px;
    font-family: "Operator Mono Lig";
}

.name-header-dark {
    text-align: center;
    margin: 30px;
    font-family: "Operator Mono Lig";
    color: whitesmoke;
}

.header-main {
    margin: 30px;
}

.intro-card {
    width: 100%;
    height: 50vh;
    background-color: whitesmoke;
    box-shadow: 1px 1px 2px 2px grey;
    border-radius: 5px;
}

.intro-card-dark {
    width: 100%;
    height: 50vh;
    background-color: #212121;
    box-shadow: 1px 1px 2px 2px whitesmoke;
    border-radius: 5px;
}

.card-wrapper {
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid grey;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.card-wrapper-dark {
    background-color: #424242;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.three-dots {
    display: flex;
}

.dot-1 {
    background-color: tomato;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
    box-shadow: 1px 1px 2px 1px grey;
}

.dot-2 {
    background-color: #ffc107;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
    box-shadow: 1px 1px 2px 1px grey;
}

.dot-3 {
    background-color: #4caf50;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
    box-shadow: 1px 1px 2px 1px grey;
}

.email-wrapper {
    margin: 15px;
    font-family: "Operator Mono Lig";
}

.email-wrapper-dark {
    margin: 15px;
    font-family: "Operator Mono Lig";
    color: whitesmoke;
}

.main-section {
    display: flex;
    justify-content: space-between;
}

.image-wrapper {
    position: relative;
    top: 35px;
    left: 100px;
    margin: 20px;
}

.user-image {
    width: 150px;
    border: 1px solid;
    border-radius: 50%;
}

.whoamI-wrapper {
    background-color: #f0ead6;
    width: 300px;
    height: 150px;
    position: relative;
    top: 50px;
    right: 40px;
}

.whoamI-wrapper-dark {
    background-color: #0f1529;
    width: 300px;
    height: 150px;
    position: relative;
    top: 50px;
    right: 40px;
}

.blue-card {
    height: 150px;
    width: 300px;
    border: 1px solid #2196f3;
    position: relative;
    top: 5px;
    left: 15px;
    background-color: rgb(251, 249, 243, 0.8);
}

.blue-card-dark {
    height: 150px;
    width: 300px;
    border: 1px solid #0bf3a6;
    position: relative;
    top: 5px;
    left: 15px;
    background-color: black;
}

.small-dot-1 {
    border: 0.5px solid #2196f3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: relative;
    top: 20px;
    left: 10px;
    z-index: 9;
}

.small-dot-2 {
    border: 0.5px solid #2196f3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: relative;
    float: right;
    top: 10px;
    left: 20px;
    z-index: 9;
}

.small-dot-3 {
    border: 0.5px solid #2196f3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: relative;
    top: 160px;
    left: 10px;
    z-index: 9;
}

.small-dot-4 {
    border: 0.5px solid #2196f3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: relative;
    float: right;
    top: 150px;
    left: 20px;
    z-index: 9;
}

.blue-cart-content {
    padding: 20px;
    margin-top: -10px;
    font-family: "Operator Mono Lig";
    text-align: justify;
}

.blue-cart-content-dark {
    padding: 20px;
    margin-top: -10px;
    font-family: "Operator Mono Lig";
    text-align: justify;
    color: whitesmoke;
}

.skills-card-main-dark {
    background-color: #212121;
    border: 0.5px solid whitesmoke;
    margin-top: 40px;
    height: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 2px 2px grey;
    border-radius: 5px;
}

.skills-card-main {
    background-color: whitesmoke;
    border: 0.5px solid grey;
    margin-top: 40px;
    height: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 2px 2px grey;
    border-radius: 5px;
}

.skills-section {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
}

.introduction {
    font-size: 16px;
    font-family: "Operator Mono Lig";
    color: #2b2929;
}

.expertise {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Operator Mono Lig";
}

.expertise-dark {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Operator Mono Lig";
    color: whitesmoke;
}

.expertise-content {
    font-size: 16px;
    font-family: "Operator Mono Lig";
    color: #2b2929;
    padding: 10px;
    text-align: justify;
}

.expertise-content-dark {
    font-size: 16px;
    font-family: "Operator Mono Lig";
    color: whitesmoke;
    padding: 10px;
    text-align: justify;
}

.skills-container {
    background-color: #f0ead6;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin: 10px;
    border-radius: 5px;
    font-weight: 600;
}

.skills-container-dark {
    color: whitesmoke;
    background-color: #3a3832;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin: 10px;
    border-radius: 5px;
    font-weight: 600;
}

.skill-list {
    list-style: none;
}

.skill-list li {
    font-family: "Operator Mono Lig";
}

.links-section {
    width: 50%;
    position: relative;
    top: 50px;
    float: right;
}

.project-container {
    margin-top: 20px;
    font-family: "Operator Mono Lig";
}

.project-card {
    width: 350px !important;
    height: 350px !important;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.theme-header {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: "Operator Mono Lig";
    margin: 0px;
}

.theme-header-dark {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: "Operator Mono Lig";
    margin: 0px;
    color: whitesmoke;
}

.theme-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.light-theme {
    height: 35px;
    width: 35px;
    background-color: whitesmoke;
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
    margin-right: 5px;
}

.dark-theme {
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    cursor: pointer;
    margin-left: 5px;
}

.download-button {
    color: blue;
}

.download-button-dark {
    color: yellow;
}